.card {
  box-shadow: 0 0 0.125rem 0 var(--reverse-primary-shadow-color);
  border-radius: var(--primary-border-radius);
  overflow: hidden;
  transition: all 400ms ease;
  width: 800px;
  height: 450px;
  object-position: center center;

  &:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4) ;
    transform: translateY(-3%);
  }

  &--hero {
    z-index: 5;
    box-shadow: 0 0 0.125rem 0.125rem var(--reverse-primary-shadow-color);
    max-width: 320px;
    text-align: center;

    @include desktop() {
      max-width: 512px;
    }

    &:hover {
      box-shadow: 0 0 0.125rem 0.125rem var(--primary-highlight-color);
    }
  }


  &__img {
    object-fit: cover;
    object-position: center center;
  }

  &__title {
    font-weight: 900;
    font-size: 1.375rem;
    margin: 0;

    @include desktop() {
      font-size: 1.5rem;
    }

    &--lg {
      font-size: 1.5rem;

      @include desktop() {
        font-size: 1.625rem;
      }
    }
  }
}

  @media (max-width: 680px) {
    .card{
      width: 100%;
      height: 300px;
    }
  }