:root{
scroll-behavior: smooth;
--primary-theme-color:#eee;
--secondary-theme-color: #282c34;
--reverse-primary-shadow-color:#fff8;
--primary-text-color: #20232a;

--primary-highlight-color:#F13582;
--secondary-highlight-color: gold;
--padding-section: 1.5rem;
--padding-container: 1rem;
--max-width-container: 640px;
--primary-border-radius: 0.5rem;
--primary-font-family: 'Open Sans', sans-serif;

}

@media(min-width: 768px){
    :root{
        --padding-section: 2rem;
        --padding-container: 0.75rem;
        --max-width-container: 1024px;
    }
}